<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Left.Right.</title>
    </head>
    <body>
<!-- ====== TOP HEADER BAR ====== -->
        <header>
            <!-- title -->
            <div class="header-title">
                <h1>Left.Right.</h1>
                <% if(currentUser) { %>
                <h4>Hello, <%=currentUser.username%>!</h4>
                <% } %>
            </div>
            <!-- navigation -->
            <nav>
                <a href="/">Home</a>
                <br>
                <a href="/users/new">Register</a>
                <br>
                <% if(currentUser) { %>
                    <form action="/sessions/:id/edit" method="GET">
                        <input type="submit" value="Edit Profile">
                    </form>
                    <form action="/sessions?_method=DELETE" method="POST">
                        <input type="submit" value="Logout">
                    </form>
                <% } else { %>
                    <form action="/sessions/new" method="GET">
                        <input type="submit" value="Log In">
                    </form>
                <% } %>
            </nav>
        </header>
    </body>
</html>
