<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
        <meta charset="utf-8">
        <title>Left.Right.</title>
    </head>
    <body>

        <!-- Header Block with Title -->
        <% include ./partials/header.ejs %>

        <div class="body">
            <!-- Navigation Bar -->
            <% include ./partials/nav_bar.ejs %>

            <!-- Displays all Posts -->
            <div class="posts-container">
                <% for (let i = 0; i < images.length; i++) { %>
                    <div class="post">
                        <a href="/posts"><img src="<%= images[i] %>" alt=""></a>
                    </div>
                <% } %>
            </div>
        </div>

        <!-- Footer Block with Text -->
        <% include ./partials/footer.ejs %>

    </body>
</html>
