<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Left.Right.</title>
    </head>
    <body>
<!-- ====== TOP HEADER BAR ====== -->
        <header>
            <!-- title -->
            <div class="header-title">
                <h1>Left.Right.</h1>
            </div>
            <!-- navigation -->
            <nav>
                <a href="/">Home</a>
                <br>
                <a href="/users/new">Register</a>
                <br>
                <a href="/sessions/new">Log In</a>
            </nav>
        </header>
    </body>
</html>
