body {
    background-image:url('../images/Background_img.jpg');
    background-size: cover;
    margin: 0;
    background-color: rgb(225, 225, 225);
}

.header {
    height: 100px;
    width: 100%;
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: 'Cinzel', sans-serif;
}

h1 {
    margin: auto;
    padding: 25px;
    font-size: 40px;
}

.footer {
    bottom: 0;
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: rgb(25, 25, 25);
    color: white;
    text-align: right;
}

.footer-text {
    margin-right: 25px;
    margin-top: 65px;
    font-family: 'Cinzel', sans-serif;
}

.nonuser-nav {
    width: 200px;
    height: 80vh;
    background-color: rgb(250, 250, 250);
    font-family: 'Cinzel', sans-serif;
    border: 0.5px solid black;
    box-shadow: inset 0 0 5px #000000;
}

.user-nav {
    width: 200px;
    height: 80vh;
    background-color: rgb(250, 250, 250);
    font-family: 'Cinzel', sans-serif;
    border: 0.5px solid black;
    box-shadow: inset 0 0 5px #000000;
}

input[value="Home"], [value="Create Account"], [id="log-in-redirect"], [value="Create Post"], [value="Edit Profile"], [value="Logout"] {
    width: 200px;
    height: 75px;
    background-color: rgba(250, 250, 250, 0);
    border: none;
    font-family: 'Cinzel', sans-serif;
    font-size: 12px;
}

input[value="Home"]:hover, [value="Create Account"]:hover, [id="log-in-redirect"]:hover, [value="Create Post"]:hover, [value="Edit Profile"]:hover, [value="Logout"]:hover, [value="Create User"]:hover, [value="Post"]:hover {
    color: black;
    font-size: 16px;
    text-decoration: underline;

}

form[action="/users"], [action="/sessions"], [action="/posts"], [class="edit-profile-form"] {
    height: auto;
    width: 500px;
    background-color: white;
    border: 0.5px solid black;
    box-shadow: inset 0 0 5px #000000;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
    padding: 25px;
    font-family: 'Cinzel', sans-serif;
    padding-bottom: 100px;
}

input[type="text"], [type="password"] {
    margin: 5px;
    height: 20px;
    width: 400px;
    border-radius: 5px;
    font-family: 'Cinzel', sans-serif;
}

input[value="Create User"], [id="log-in-submit"], [value="Post"], [value="Update"], [value="Delete Account"] {
    margin-top: 20px;
    margin-left: 5px;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    box-shadow: 2px 2px gray;
    font-family: 'Cinzel', sans-serif;
}

input[value="Delete Account"] {
    width: 160px;
}

input[value="Create User"]:hover, [id="log-in-submit"]:hover, [value="Post"]:hover, [value="Update"]:hover, [value="Delete Account"]:hover {
    color: black;
    font-size: 16px;
    text-decoration: underline;
    background-color: rgb(250, 250, 250);
}

.body {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.posts-container {
    padding: 20px;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
}

.posts-container .post {
    display: flex;
    justify-content: center;
    width: 400px;
    padding: 15px;
    padding-bottom: 18px;
    height: 400px;
    margin: 50px;
    margin-top: 50px;
    border: 0.5px solid black;
    border-radius: 15px;
    box-shadow: inset 0 0 5px #000000;
    background-color: rgb(250, 250, 250);

}

.posts-container .post img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid black;
}

.show-page-header {
    color: white;
    font-family: 'Cinzel', sans-serif;
}
