<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Left.Right.</title>
    </head>
    <body>
        <h1>Edit Profile</h1>
        <form action="/users/<%=username.id%>?_method=PUT" method="POST">
            <input type="text" name="username" placeholder="New Username">
            <br>
            <input type="submit" value="Update">
        </form>
        <br><br><br><br>
        <form action="/users/<%=username.id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Account">
        </form>
    </body>
</html>
