<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
        <meta charset="utf-8">
        <title>Left.Right.</title>
    </head>
    <body>
        <div class="header">
            <h1>Left.Right.</h1>
        </div>
        <form class="edit-profile" action="/users/<%=username.id%>?_method=PUT" method="POST">
            <h1>Edit Profile</h1>
            <input type="text" name="username" placeholder="New Username">
            <br>
            <input type="submit" value="Update">
            <br><br>
            <form action="/users/<%=username.id%>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Account">
            </form>
        </form>
        <div class="footer">
            <p class="footer-text">Trenton Marks</p>
        </div>
    </body>
</html>
