<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
        <meta charset="utf-8">
        <title>Left.Right.</title>
    </head>
    <body>
        <!-- Header Block with Title -->
        <% include ../partials/header.ejs %>

        <form action="/users" method="POST">
            <h3>Create New User</h3>
            <input type="text" name="username" placeholder="Enter Your New Username">
            <br>
            <input type="password" name="password" placeholder="Enter Your New Password">
            <br>
            <input type="submit" value="Create User">
        </form>

        <!-- Footer Block with Text -->
        <% include ../partials/footer.ejs %>
        
    </body>
</html>
