<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
        <meta charset="utf-8">
        <title>Left.Right.</title>
    </head>
    <body>
        <div class="header">
            <h1>Left.Right.</h1>
        </div>
        <div class="container">
            <form action="/posts" method="POST">
                <h1>Create A Post</h1>
                <input type="text" name="name" placeholder="Add Title">
                <br><br>
                <input type="text" name="img" placeholder="Paste Image">
                <br><br>
                <input type="text" name="description" placeholder="Add Description">
                <br><br><br><br>
                <input type="submit" value="Post">
            </form>
        </div>
        <div class="footer">
            <p class="footer-text">Trenton Marks</p>
        </div>
    </body>
</html>
