<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Left.Right.</title>
    </head>
    <body>
        <h1>Create A Post</h1>
        <div class="container">
            <form action="/posts" method="POST">
                <input type="text" name="name" placeholder="Name">
                <br><br>
                <input type="text" name="img" placeholder="Insert Image">
                <br><br>
                <input type="text" name="description" placeholder="Description">
                <br><br><br><br>
                <input type="submit" value="Post">
            </form>
        </div>
    </body>
</html>
